In [41]:
import pandas as pd
import csv
results_2016 = pd.read_csv('./Runners_all_results_2016.csv', header = 0, encoding='latin-1')
results_2017 = pd.read_csv('./Runners_all_results_2017.csv', header = 0, encoding='latin-1')
results_2018 = pd.read_csv('./Runners_all_results_2018.csv', header = 0, encoding='latin-1')
results_2019 = pd.read_csv('./Runners_all_results_2019.csv', header = 0, encoding='latin-1', error_bad_lines=False)

b'Skipping line 26144: expected 20 fields, saw 21\n'

In [42]:
results_2016

,BibNumber,FullName,SortName,AgeOnRaceDay,Gender,City,StateAbbrev,StateName,Zip,CountryOfResAbbrev,CountryOfResName,CountryOfCtzAbbrev,CountryOfCtzName,OfficialTime,RankOverall,RankOverGender,RankOverDivision,EventGroup,SubGroupLabel,SubGroup
0,5,Lemi Berhanu Hayle,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,NaN,NaN,ETH,Ethiopia,ETH,Ethiopia,2:12:45,1,1,1,Runners,NaN,NaN
1,1,Lelisa Desisa,"Desisa, Lelisa",26,M,Ambo,NaN,NaN,NaN,ETH,Ethiopia,ETH,Ethiopia,2:13:32,2,2,2,Runners,NaN,NaN
2,6,Yemane Adhane Tsegay,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,NaN,NaN,ETH,Ethiopia,ETH,Ethiopia,2:14:02,3,3,3,Runners,NaN,NaN
3,11,Wesley Korir,"Korir, Wesley",33,M,Kitale,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:14:05,4,4,4,Runners,NaN,NaN
4,14,Paul Lonyangata,"Lonyangata, Paul",23,M,Eldoret,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:15:45,5,5,5,Runners,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26624,31985,Tina M. Weidenkeller,"Weidenkeller, Tina M.",46,F,Rossmoor,CA,California,90720,USA,United States of America,USA,United States of America,7:47:56,26625,12164,1900,Runners,NaN,NaN
26625,26218,Jami E. Marseilles,"Marseilles, Jami E.",47,F,Huntington Beach,CA,California,92646,USA,United States of America,USA,United States of America,7:47:56,26626,12165,1901,Runners,MI,Mobility Impaired
26626,29403,William J. Ganem,"Ganem, William J.",39,M,Reedsburg,WI,Wisconsin,53959,USA,United States of America,USA,United States of America,8:23:27,26627,14462,4801,Runners,MI,Mobility Impaired
26627,30690,Daryl R. Farler,"Farler, Daryl R.",35,M,Franklin,TN,Tennessee,37069,USA,United States of America,USA,United States of America,8:25:09,26628,14463,4802,Runners,MI,Mobility Impaired
26628,28487,Adrianne K. Haslet,"Haslet, Adrianne K.",35,F,Boston,MA,Massachusetts,02215,USA,United States of America,USA,United States of America,10:30:23,26629,12166,5946,Runners,MI,Mobility Impaired

In [43]:
results_2017

,BibNumber,FullName,SortName,AgeOnRaceDay,Gender,City,StateAbbrev,StateName,Zip,CountryOfResAbbrev,CountryOfResName,CountryOfCtzAbbrev,CountryOfCtzName,OfficialTime,RankOverall,RankOverGender,RankOverDivision,EventGroup,SubGroupLabel,SubGroup
0,11,Geoffrey Kirui,"Kirui, Geoffrey",24,M,Keringet,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:09:37,1,1,1,Runners,NaN,NaN
1,17,Galen Rupp,"Rupp, Galen",30,M,Portland,OR,Oregon,NaN,USA,United States of America,USA,United States of America,2:09:58,2,2,2,Runners,NaN,NaN
2,23,Suguru Osako,"Osako, Suguru",25,M,Machida-City,NaN,NaN,NaN,JPN,Japan,JPN,Japan,2:10:28,3,3,3,Runners,NaN,NaN
3,21,Shadrack Biwott,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,California,NaN,USA,United States of America,USA,United States of America,2:12:08,4,4,4,Runners,NaN,NaN
4,9,Wilson Chebet,"Chebet, Wilson",31,M,Marakwet,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:12:35,5,5,5,Runners,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26395,27086,Johanna Hantel,"Hantel, Johanna",57,F,Malvern,PA,Pennsylvania,19355,USA,United States of America,USA,United States of America,7:19:37,26396,11967,698,Runners,NaN,NaN
26396,25268,Bill Reilly,"Reilly, Bill",64,M,New York,NY,New York,10018,USA,United States of America,USA,United States of America,7:20:44,26397,14430,1041,Runners,MI,Mobility Impaired
26397,25266,Scott Rigsby,"Rigsby, Scott",48,M,Alpharetta,GA,Georgia,30004,USA,United States of America,USA,United States of America,7:58:14,26398,14431,2551,Runners,MI,Mobility Impaired
26398,27075,Jennifer L. Kauffman,"Kauffman, Jennifer L.",45,F,Quincy,MA,Massachusetts,02169,USA,United States of America,USA,United States of America,8:45:17,26399,11968,1863,Runners,MI,Mobility Impaired
26399,27181,Carolyn Collins,"Collins, Carolyn",45,F,Norwood,MA,Massachusetts,02062,USA,United States of America,USA,United States of America,8:45:17,26400,11969,1864,Runners,NaN,NaN

In [44]:

results_2018

,BibNumber,FullName,SortName,AgeOnRaceDay,Gender,City,StateAbbrev,StateName,Zip,CountryOfResAbbrev,CountryOfResName,CountryOfCtzAbbrev,CountryOfCtzName,OfficialTime,RankOverall,RankOverGender,RankOverDivision,EventGroup,SubGroupLabel,SubGroup
0,11,Yuki Kawauchi,"Kawauchi, Yuki",31,M,"Kuki, Saitama",NaN,NaN,NaN,JPN,Japan,JPN,Japan,2:15:58,1,1,1,Runners,NaN,NaN
1,1,Geoffrey Kirui,"Kirui, Geoffrey",25,M,Keringet,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:18:23,2,2,2,Runners,NaN,NaN
2,25,Shadrack Biwott,"Biwott, Shadrack",33,M,Folsom,CA,California,NaN,USA,United States of America,USA,United States of America,2:18:35,3,3,3,Runners,NaN,NaN
3,35,Tyler Pennel,"Pennel, Tyler",30,M,Lenoir,NC,North Carolina,28645,USA,United States of America,USA,United States of America,2:18:57,4,4,4,Runners,NaN,NaN
4,27,Andrew Bumbalough,"Bumbalough, Andrew",31,M,Portland,OR,Oregon,NaN,USA,United States of America,USA,United States of America,2:19:52,5,5,5,Runners,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25826,1632,Gregory Kroleski,"Kroleski, Gregory",31,M,San Diego,CA,California,92131,USA,United States of America,USA,United States of America,8:09:48,25827,14200,4771,Runners,NaN,NaN
25827,25184,Joseph Owens,"Owens, Joseph",48,M,Columbia,MD,Maryland,21044,USA,United States of America,USA,United States of America,8:22:05,25828,14201,2530,Runners,MI,Mobility Impaired
25828,26800,Thomas Smith,"Smith, Thomas",28,M,Swampscott,MA,Massachusetts,01907,USA,United States of America,USA,United States of America,8:30:28,25829,14202,4772,Runners,MI,Mobility Impaired
25829,25182,Candice Caesar,"Caesar, Candice",45,F,Fresno,TX,Texas,77545,USA,United States of America,USA,United States of America,8:43:08,25830,11628,1670,Runners,MI,Mobility Impaired
25830,30909,Alfred Buccilli,"Buccilli, Alfred",56,M,Lynnfield,MA,Massachusetts,01940,USA,United States of America,USA,United States of America,8:54:06,25831,14203,1466,Runners,MI,Mobility Impaired

In [45]:
results_2019

,BibNumber,FullName,SortName,AgeOnRaceDay,Gender,City,StateAbbrev,StateName,Zip,CountryOfResAbbrev,CountryOfResName,CountryOfCtzAbbrev,CountryOfCtzName,OfficialTime,RankOverall,RankOverGender,RankOverDivision,EventGroup,SubGroupLabel,SubGroup
0,2,Lawrence Cherono,"Cherono, Lawrence",30,M,Eldoret,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:07:57,1,1,1,Runners,NaN,NaN
1,6,Lelisa Desisa,"Desisa, Lelisa",29,M,Ambo,NaN,NaN,NaN,ETH,Ethiopia,ETH,Ethiopia,2:07:59,2,2,2,Runners,NaN,NaN
2,7,Kenneth Kipkemoi,"Kipkemoi, Kenneth",34,M,Eldoret,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:08:07,3,3,3,Runners,NaN,NaN
3,8,Felix Kandie,"Kandie, Felix",32,M,Iten,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:08:54,4,4,4,Runners,NaN,NaN
4,11,Geoffrey Kirui,"Kirui, Geoffrey",26,M,Keringet,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:08:55,5,5,5,Runners,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26651,23909,Brett Mcninch,"Mcninch, Brett",42,M,New Lebanon,OH,Ohio,45345,USA,United States of America,USA,United States of America,7:14:12,26653,14672,1989,Runners,MI,Mobility Impaired
26652,23949,Justin Oconell,"Oconell, Justin",28,M,Franklin,MA,Massachusetts,02038,USA,United States of America,USA,United States of America,7:16:19,26654,14673,5092,Runners,MI,Mobility Impaired
26653,15946,John Young,"Young, John",53,M,Salem,MA,Massachusetts,01970,USA,United States of America,USA,United States of America,7:17:35,26655,14674,1858,Runners,MI,Mobility Impaired
26654,23937,Denise Smith,"Smith, Denise",51,F,Fort Collins,CO,Colorado,80525-2038,USA,United States of America,USA,United States of America,7:25:39,26656,11982,1200,Runners,MI,Mobility Impaired
26655,23958,Bill Reilly,"Reilly, Bill",66,M,Kew Gardens,NY,New York,11367,USA,United States of America,USA,United States of America,7:43:48,26657,14675,469,Runners,MI,Mobility Impaired

In [75]:
import csv
data = open('./ex1.csv')
data_o = csv.reader(data)
res_2016 = open('./Runners_all_results_2016.csv')
res_2016_o = csv.reader(res_2016)

CountryOfResName

 Elevation
CountryOfResName

1.885m
CountryOfResName

708m
CountryOfResName

800m
CountryOfResName

1.996m
CountryOfResName

1.112m
CountryOfResName

2.300m
CountryOfResName

595m
CountryOfResName

1.792m
CountryOfResName

330m
CountryOfResName

910m
CountryOfResName

384m
CountryOfResName

85m
CountryOfResName

160m
CountryOfResName

181m
CountryOfResName

173m
CountryOfResName

273m
CountryOfResName

3.280m
CountryOfResName

1.192m
CountryOfResName

500m
CountryOfResName

1.013m
CountryOfResName

320m
CountryOfResName

478m
CountryOfResName

472m
CountryOfResName

297m
CountryOfResName

702m
CountryOfResName

1.504m
CountryOfResName

126m
CountryOfResName

667m
CountryOfResName

487m
CountryOfResName

635m
CountryOfResName

543m
CountryOfResName

1.871m
CountryOfResName

1.840m
CountryOfResName

593m
CountryOfResName

430m
CountryOfResName

726m
CountryOfResName

568m
CountryOfResName

746m
CountryOfResName

331m
CountryOfResName

108m
CountryOfResName

91m
CountryOfResName

433m
CountryOfResName

34m
CountryOfResName

430m
CountryOfResName

424m
CountryOfResName

1.117m
CountryOfResName

321m
CountryOfResName

442m
CountryOfResName

61m
CountryOfResName

577m
CountryOfResName

853m
CountryOfResName

1.330m
CountryOfResName

164m
CountryOfResName

375m
CountryOfResName

168m
CountryOfResName

377m
CountryOfResName

34m
CountryOfResName

1.432m
CountryOfResName

263m
CountryOfResName

190m
CountryOfResName

498m
CountryOfResName

1.792m
CountryOfResName

759m
CountryOfResName

472m
CountryOfResName

70m
CountryOfResName

207m
CountryOfResName

470m
CountryOfResName

684m
CountryOfResName

143m
CountryOfResName

557m
CountryOfResName

621m
CountryOfResName

367m
CountryOfResName

1.305m
CountryOfResName

312m
CountryOfResName

118m
CountryOfResName

508m
CountryOfResName

538m
CountryOfResName

250m
CountryOfResName

340m
CountryOfResName

438m
CountryOfResName

812m
CountryOfResName

387m
CountryOfResName

762m
CountryOfResName

800m
CountryOfResName

108m
CountryOfResName

2.988m
CountryOfResName

87m
CountryOfResName

710m
CountryOfResName

1.250m
CountryOfResName

2.161m
CountryOfResName

243m
CountryOfResName

423m
CountryOfResName

110m
CountryOfResName

325m
CountryOfResName

741m
CountryOfResName

442m
CountryOfResName

779m
CountryOfResName

538m
CountryOfResName

1.8m
CountryOfResName

343m
CountryOfResName

276m
CountryOfResName

1.111m
CountryOfResName

139m
CountryOfResName

1.528m
CountryOfResName

1.086m
CountryOfResName

909m
CountryOfResName

345m
CountryOfResName

1.141m
CountryOfResName

3.365m
CountryOfResName

30m
CountryOfResName

388m
CountryOfResName

298m
CountryOfResName

474m
CountryOfResName

380m
CountryOfResName

400m
CountryOfResName

460m
CountryOfResName

310m
CountryOfResName

900m
CountryOfResName

360m
CountryOfResName

667m
CountryOfResName

178m
CountryOfResName

1.555m
CountryOfResName

442m
CountryOfResName

173m
CountryOfResName

372m
CountryOfResName

28m
CountryOfResName

414m
CountryOfResName

1.598m
CountryOfResName

600m
CountryOfResName

665m
CountryOfResName

69m
CountryOfResName

473m
CountryOfResName

279m
CountryOfResName

1 m
CountryOfResName

458m
CountryOfResName

492m
CountryOfResName

410m
CountryOfResName

1.034m
CountryOfResName

282m
CountryOfResName

660m
CountryOfResName

228m
CountryOfResName

568m
CountryOfResName

246m
CountryOfResName

305m
CountryOfResName

320m
CountryOfResName

1.350m
CountryOfResName

514m
CountryOfResName

3.186m
CountryOfResName

1.150m
CountryOfResName

1.018m
CountryOfResName

287m
CountryOfResName

236m
CountryOfResName

83m
CountryOfResName

246m
CountryOfResName

1.132m
CountryOfResName

230m
CountryOfResName

1.100m
CountryOfResName

175m
CountryOfResName

149m
CountryOfResName

162m
CountryOfResName

760m
CountryOfResName

109m
CountryOfResName

450m
CountryOfResName

398m
CountryOfResName

256m
CountryOfResName

999m
CountryOfResName

1.138m
CountryOfResName

961m
CountryOfResName

840m

In [59]:
for row in data_o:
  print(row)
  print(row[0])

['Country', ' Elevation']
Country
['Afghanistan', '1.885m']
Afghanistan
['Albania', '708m ']
Albania
['Algeria', '800m']
Algeria
['Andorra', '1.996m']
Andorra
['Angola', '1.112m']
Angola
['Antarctica', '2.300m']
Antarctica
['Argentina', '595m']
Argentina
['Armenia', '1.792m']
Armenia
['Australia', '330m']
Australia
['Austria', '910m']
Austria
['Azerbaijan', '384m']
Azerbaijan
['Bangladesh', '85m']
Bangladesh
['Belarus', '160m']
Belarus
['Belgium', '181m']
Belgium
['Belize', '173m']
Belize
['Benin', '273m']
Benin
['Bhutan', '3.280m']
Bhutan
['Bolivia', '1.192m']
Bolivia
['Bosnia and Herzegovina', '500m']
Bosnia and Herzegovina
['Botswana', '1.013m']
Botswana
['Brazil', '320m']
Brazil
['Brunei', '478m']
Brunei
['Bulgaria', '472m']
Bulgaria
['Burkina Faso', '297m']
Burkina Faso
['Burma', '702m']
Burma
['Burundi', '1.504m']
Burundi
['Cambodia', '126m']
Cambodia
['Cameroon', '667m']
Cameroon
['Canada', '487m']
Canada
['Central African Republic', '635m']
Central African Republic
['Chad', '543m']
Chad
['Chile', '1.871m']
Chile
['China', '1.840m']
China
['Colombia', '593m']
Colombia
['Congo', '430m']
Congo
['Congo DR', '726m']
Congo DR
['Corsica', '568m']
Corsica
['Costa Rica', '746m']
Costa Rica
['Croatia', '331m']
Croatia
['Cuba', '108m']
Cuba
['Cyprus', '91m']
Cyprus
['Czech Republic', '433m']
Czech Republic
['Denmark', '34m']
Denmark
['Djibouti', '430m']
Djibouti
['Dominican Republic', '424m']
Dominican Republic
['Ecuador', '1.117m']
Ecuador
['Egypt', '321m']
Egypt
['El Salvador', '442m']
El Salvador
['Estonia', '61m']
Estonia
['Equatorial Guinea', '577m']
Equatorial Guinea
['Eritrea', '853m']
Eritrea
['Ethiopia', '1.330m']
Ethiopia
['Finland', '164m']
Finland
['France', '375m']
France
['French Guiana', '168m']
French Guiana
['Gabon', '377m']
Gabon
['Gambia', '34m']
Gambia
['Georgia', '1.432m']
Georgia
['Germany', '263m']
Germany
['Ghana', '190m']
Ghana
['Greece', '498m']
Greece
['Greenland', '1.792m']
Greenland
['Guatemala', '759m']
Guatemala
['Guinea', '472m']
Guinea
['Guinea-Bissau', '70m']
Guinea-Bissau
['Guyana', '207m']
Guyana
['Haiti', '470m']
Haiti
['Honduras', '684m']
Honduras
['Hungary', '143m']
Hungary
['Iceland', '557m']
Iceland
['India', '621m']
India
['Indonesia', '367m']
Indonesia
['Iran', '1.305m']
Iran
['Iraq', '312m']
Iraq
['Ireland', '118m']
Ireland
['Israel', '508m']
Israel
['Italy', '538m']
Italy
['Ivory Coast', '250m']
Ivory Coast
['Jamaica', '340m']
Jamaica
['Japan', '438m']
Japan
['Jordan', '812m']
Jordan
['Kazakhstan', '387m']
Kazakhstan
['Kenya', '762m']
Kenya
['Kosovo', '800m']
Kosovo
['Kuwait', '108m']
Kuwait
['Kyrgyzstan', '2.988m']
Kyrgyzstan
['Latvia', '87m']
Latvia
['Laos', '710m']
Laos
['Lebanon', '1.250m']
Lebanon
['Lesotho', '2.161m']
Lesotho
['Liberia', '243m']
Liberia
['Libya', '423m']
Libya
['Lithuania', '110m']
Lithuania
['Luxembourg', '325m']
Luxembourg
['Macedonia', '741m']
Macedonia
['Madagascar', '442m']
Madagascar
['Malawi', '779m']
Malawi
['Malaysia', '538m']
Malaysia
['Maldives', '1.8m']
Maldives
['Mali', '343m']
Mali
['Mauritania', '276m']
Mauritania
['Mexico', '1.111m']
Mexico
['Moldova', '139m']
Moldova
['Mongolia', '1.528m']
Mongolia
['Montenegro', '1.086m']
Montenegro
['Morocco', '909m']
Morocco
['Mozambique', '345m']
Mozambique
['Namibia', '1.141m']
Namibia
['Nepal', '3.365m']
Nepal
['Netherlands', '30m']
Netherlands
['New Zealand', '388m']
New Zealand
['Nicaragua', '298m']
Nicaragua
['Niger', '474m']
Niger
['Nigeria', '380m']
Nigeria
['North Korea', '400m']
North Korea
['Norway', '460m']
Norway
['Oman', '310m']
Oman
['Pakistan', '900m']
Pakistan
['Panama', '360m']
Panama
['Papua New Guinea', '667m']
Papua New Guinea
['Paraguay', '178m']
Paraguay
['Peru', '1.555m']
Peru
['Philippines', '442m']
Philippines
['Poland', '173m']
Poland
['Portugal', '372m']
Portugal
['Qatar', '28m']
Qatar
['Romania', '414m']
Romania
['Rwanda', '1.598m']
Rwanda
['Russia', '600m']
Russia
['Saudi Arabia', '665m']
Saudi Arabia
['Senegal', '69m']
Senegal
['Serbia', '473m']
Serbia
['Sierra Leone', '279m']
Sierra Leone
['Singapore', '1 m']
Singapore
['Slovakia', '458m']
Slovakia
['Slovenia', '492m']
Slovenia
['Somalia', '410m']
Somalia
['South Africa', '1.034m']
South Africa
['South Korea', '282m']
South Korea
['Spain', '660m']
Spain
['Sri Lanka', '228m']
Sri Lanka
['Sudan', '568m']
Sudan
['Suriname', '246m']
Suriname
['Eswatini (Swaziland)', '305m']
Eswatini (Swaziland)
['Sweden', '320m']
Sweden
['Switzerland', '1.350m']
Switzerland
['Syria', '514m']
Syria
['Tajikistan', '3.186m']
Tajikistan
['Taiwan', '1.150m']
Taiwan
['Tanzania', '1.018m']
Tanzania
['Thailand', '287m']
Thailand
['Togo', '236m']
Togo
['Trinidad and Tobago', '83m']
Trinidad and Tobago
['Tunisia', '246m']
Tunisia
['Turkey', '1.132m']
Turkey
['Turkmenistan', '230m']
Turkmenistan
['Uganda', '1.100m']
Uganda
['Ukraine', '175m']
Ukraine
['United Arab Emirates', '149m']
United Arab Emirates
['United Kingdom', '162m']
United Kingdom
['United States', '760m']
United States
['Uruguay', '109m']
Uruguay
['Venezuela', '450m']
Venezuela
['Vietnam', '398m']
Vietnam
['Western Sahara', '256m']
Western Sahara
['Yemen', '999m']
Yemen
['Zambia', '1.138m']
Zambia
['Zimbabwe', '961m']
Zimbabwe
['World', '840m']
World